# Directories
.vs/
/bin/
Hazel/vendor/**/bin/
bin-int/
!vendor/bin/premake/

# Files
*.user
Makefile
Hazel.config
Hazel.creator
Hazel.files
Hazel.includes

# Visual Studio files
*.sln
**/**/*.vcxproj
**/**/*.vcxproj.filters
**.vcxproj.user
